div(class="scheduler") scheduler #{_id}
    each queues
      p (#{_id}): #{type}
      div(class="pattern-container" data-scheduler-id="#{template_id}" data-component-id="#{_id}" data-type="#{type}")
        each queueFromComponent _id
          +pattern_message