div.pattern
  position relative
  display inline-block
  height 80px
  width 80px
  overflow hidden
  word-wrap break-word
  text-align left
  background #114
  color #C88
  margin 2px
  padding 5px
  box-shadow 0 0 2px 1px #838
  border-radius 5px

size = 14px
div.pattern button.destroy
  position absolute
  display table-cell
  left 3px
  top 3px

  background #C44
  width size
  height size

  border-radius (size / 2)
  border 0px solid #000
  box-shadow inset 0 0 (size / 2) 0px #FFF

  line-height 0
  font-size size
  text-align center
  vertical-align middle
  padding 0
  margin 0

  cursor: pointer

div.pattern button.destroy:hover
  box-shadow inset 0 0 (size / 2) 0px #000

div.pattern button.duplicate
  position absolute
  right 0
  top 0
  height 100%

  background #4C4
  color #000
  width 20px

  border-radius-right (size / 2)
  border 0px solid #000
  box-shadow inset 0 0 (size / 2) 0px #FFF

  line-height 0
  font-size size
  text-align center
  vertical-align middle
  padding 0
  margin 0

  cursor: pointer

div.pattern button.duplicate:hover
  box-shadow inset 0 0 (size / 2) 0px #000

div.pattern div.name
  position absolute
  left 3px
  bottom 3px

.pattern-container
  border 4px dotted #000
  min-height 100px
  background #FFF