button(class="clear-everything") Clear everything! Careful, please!

form(class="create-room")
  input(type='text', name='text', placeholder='Type to add new room')
  
each rooms
  p
    a(href="r/#{_id}") #{name} - #{_id}
    button(class="delete") &times;