script.
  Tone.Transport.clearTimelines();

h2 Room #{name} (#{_id})

p
  button(class="add-master-transport") Add master transport
  button(class="add-scheduler") Add scheduler
  button(class="add-engine-v1") Add the_engine_v1
  button(class="add-thruster-v1") Add thruster_v1
  button(class="add-drum-pattern") Add drum patterns
  button(class="add-bass-pattern") Add bass patterns

each components
  +Template.dynamic template=this.type